.avatar img {
  animation: fadeIn 0.6s ease-in-out;
  transition: transform 0.3s ease;
}

.avatar img:hover {
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


.avatar img {
  width: 200%;
  height: 120%;
  object-fit: cover;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.avatar img:hover {
  transform: scale(1.05) rotate(-2deg);
}
